/* Game Specific Styles */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#app {
    width: 100%;
    height: 100%;
}

.game-canvas {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}